button{
    block-size: 20px;
    color: aqua;
    background-color:rgb(101, 101, 224);
    padding: 20px;
    font-size: 20px;
   
   margin-left: 500px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color:navy;
    background-color: rgb(211, 238, 184);
}
