.form{

    background: 200px rgb(206, 240, 128);
    
    width: 500px;
    height: 200px;

    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-left: 300px;

}

.text{

    font-family: 'Courier New', Courier, monospace;
}


button{

    block-size: 20px;
    color: black;
    background-color:rgb(72, 233, 171);
    
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}